{{define "container.create.network"}}
<form class="ui form" id="networkCreate" onsubmit="networkCreateForm(this); return false" {{if .Addr -}}action="{{.Addr}}" method="{{.Method}}"{{- end}}>
  <div class="field">
    <label>{{.Name}}</label>
    <input name="Name" type="text" value="">
    {{if .NameDescription -}}<div class="extra">{{.NameDescription}}</div>{{- end}}
  </div>

  <div class="two fields">
    <div class="field">
      <label>{{.CheckDuplicate}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="CheckDuplicate">
        <div class="default text">{{.CheckDuplicate}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .CheckDuplicateDescription -}}{{.CheckDuplicateDescription}}{{- end}}</div>

    </div>

    <div class="field">
      <label>{{.Driver}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="Driver">
        <div class="default text">{{.Driver}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="bridge">Bridge</div>
          <div class="item" data-value="overlay">Overlay</div>
        </div>
      </div>

      <div class="extra">{{if .DriverDescription -}}{{.DriverDescription}}{{- end}}</div>

    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>{{.Scope}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="Scope">
        <div class="default text">{{.Scope}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="local">Local</div>
          <div class="item" data-value="global">Global</div>
          <div class="item" data-value="host">Host</div>
        </div>
      </div>

      <div class="extra">{{if .ScopeDescription -}}{{.ScopeDescription}}{{- end}}</div>

    </div>
    <div class="field">
      <label>{{.EnableIPv6}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="EnableIPv6">
        <div class="default text">{{.EnableIPv6}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .EnableIPv6Description -}}{{- end}}{{.EnableIPv6Description}}</div>

    </div>
  </div>

  <!-- IPAM -->
  <div class="field">
    <label>{{.Name}}</label>
    <input name="Name" type="text" value="">
  {{if .NameDescription -}}<div class="extra">{{.NameDescription}}</div>{{- end}}
  </div>

  <div class="two fields">
    <div class="field">
      <label>{{.Internal}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="Internal">
        <div class="default text">{{.Internal}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .InternalDescription -}}{{.InternalDescription}}{{- end}}</div>

    </div>
    <div class="field">
      <label>{{.Attachable}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="Attachable">
        <div class="default text">{{.Attachable}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .AttachableDescription -}}{{.AttachableDescription}}{{- end}}</div>

    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>{{.Ingress}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="Ingress">
        <div class="default text">{{.Ingress}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .IngressDescription -}}{{.IngressDescription}}{{- end}}</div>

    </div>
    <div class="field">
      <label>{{.ConfigOnly}}</label>
      <div class="ui fluid selection dropdown">
        <input type="hidden" name="ConfigOnly">
        <div class="default text">{{.ConfigOnly}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="default">Default</div>
          <div class="item" data-value="false">False</div>
          <div class="item" data-value="true">True</div>
        </div>
      </div>

      <div class="extra">{{if .ConfigOnlyDescription -}}{{.ConfigOnlyDescription}}{{- end}}</div>

    </div>
  </div>

  <div class="ui submit button">{{.Submit}}</div>
  <div class="ui error message"></div>
</form>
{{end}}