{{define "include.kendo-ui"}}<link rel="stylesheet" href="/js/kendo-ui/styles/kendo.common.min.css" />
<link rel="stylesheet" href="/js/kendo-ui/styles/kendo.default.min.css" />
<link rel="stylesheet" href="/js/kendo-ui/styles/kendo.default.mobile.min.css" />

<script src="/js/kendo-ui/js/jquery.min.js"></script>
<script src="/js/kendo-ui/js/kendo.all.min.js"></script>{{end}}